<div class="container" id="footer">
  <div class="row my-5">
    <div class="col-md-12">
      <a class="navbar-brand" href="#">
        <img src="/images/Weebi_Logo_Full.png" alt="Weebi" width="130" height="35">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h6 class="fw-bold">Email</h6>
      <p>hello@weebi.com</p>
    </div>

    <div class="col-md-4">
      <h6 class="fw-bold">Adresse</h6>
      <p>Sacré coeur 3 Villa N° 9653, 4eme phase, 41 Voie de dégagement N Dakar - Sénégal</p>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav justify-content-end list-unstyled d-flex">
            <li class="p-2"><a class="" href="https://www.facebook.com/weebi.contact"><i class="bi bi-facebook"
                  style="font-size: 2rem; color: #000;"></i></a></li>
            <li class="p-2"><a class="" href="https://www.linkedin.com/company/weebi-com"><i class="bi bi-linkedin"
                  style="font-size: 2rem; color: #000;"></i></a></li>
            <li class="p-2"><a class="" href="https://www.youtube.com/c/Weebi"><i class="bi bi-youtube" style="font-size: 2rem; color: #000;"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row border-top">
    <div class="col-md-12">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1">
        <p class="col-md-4 mb-0 text-body-secondary">Weebi © {{ now.Year }}</p>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ T "build_with_love" }} <span
                class="love">&#10084;</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>