<nav class="navbar navbar-expand-lg bg-body-white">
  <div class="container py-2">
    <a class="navbar-brand" href="/">
      <img src="/images/Weebi_Logo_Full.png" alt="Weebi" width="130" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .Site.Language.Lang }}#demo">{{ T "videos" }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .Site.Language.Lang }}#telechargement-prix">{{ T "price" }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .Site.Language.Lang }}/user-guide/">{{ T "faq" }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ T "contact" }}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="mailto:{{ site.Params.contact.email }}"><i class="bi bi-envelope me-2" style="color: #0d6efd;"></i>{{ T "contact_email" }}</a></li>
            <li><a class="dropdown-item" href="{{ site.Params.contact.whatsapp }}" target="_blank" rel="noopener"><i class="bi bi-whatsapp me-2" style="color: #25D366;"></i>{{ T "contact_whatsapp" }}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "posts" }}">{{ T "blog" }}</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a class="btn btn-link text-decoration-none text-dark me-2" target="_blank" href="{{ site.Params.stores.webConsoleLogin }}"><i class="bi bi-person-check me-1"></i>{{ T "login" }}</a>
        <a class="btn btn-weebi rounded-pill px-4 me-3" target="_blank" href="{{ site.Params.stores.webConsoleSignup }}">{{ T "signup" }}</a>
        <div class="ms-2">
          <select class="form-select" onchange="window.location.href=this.value;" name="languages">
            {{ range sort .Site.Languages "LanguageName" }}
              <option value="{{ $.Site.BaseURL }}/{{ .Lang }}"{{ if eq $.Site.Language.Lang .Lang }} selected{{ end }}>{{ .LanguageName }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
  </div>
</nav>
